# Environment variables
.env
.venv
venv/

# Python cache
__pycache__/
*.pyc

# Data directories (User local data)
*_Data/
*_Data/*.pdf
*_Data/*.txt

# Streamlit
.streamlit/

# OS generated
.DS_Store
Thumbs.db
